<!DOCTYPE html>
<html lang="en">
    <head>
        <!--<meta charset="UTF-8">-->
        <title>{{ page.title }}</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contents">Contents</a></li>
                <li><a href="https://discord.gg/T5MGNBB">Discord</a></li>
                <li><a href="https://github.com/Mod-DevCafeTeam/MDC-Modding-Wiki">Source</a></li>
            </ul>
        </nav>
        {{ content }}
    </body>
</html>